PORT=8000
MONGODB_URI=mongodb+srv://aaryan:<your-password>@cluster0.cvfli8n.mongodb.net

ACCESS_TOKEN_SECRET=............. # random cryptographic key
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=............
REFRESH_TOKEN_EXPIRY=7d



# PORT=8000
# MONGODB_URI=mongodb+srv://aaryan:<your-password>@cluster0.cvfli8n.mongodb.net

# ACCESS_TOKEN_SECRET=8fK2mP9xQ7vL4nT6zR1wY5aS3dF8gH0j # random cryptographic key
# ACCESS_TOKEN_EXPIRY=15m

# REFRESH_TOKEN_SECRET=Z9qL3xV7mN2pK8sW5tR0yF6bH1cD4jA7
# REFRESH_TOKEN_EXPIRY=7d